<div class="bg-secondary p-3 m-3">
    <h3><a class=" text-decoration-none text-dark " href="#" [routerLink]="['/']" routerLinkActive="active">Exercices</a></h3>
    <hr>
    <ul class="lista">
      <li><a class="p-2 text-decoration-none text-white" href="#" [routerLink]="['/exercises/ex01']" routerLinkActive="active">Exercise 1</a></li>
      <li><a class="p-2 text-decoration-none text-white" href="#"  [routerLink]="['/exercises/ex02']" routerLinkActive="active">Exercise 2</a></li>
      <li><a class="p-2 text-decoration-none text-white" href="#"  [routerLink]="['/exercises/ex03']" routerLinkActive="active">Exercise 3</a></li>
      <li><a class="p-2 text-decoration-none text-white" href="#"  [routerLink]="['/exercises/ex04']" routerLinkActive="active">Exercise 4</a></li>
      <li><a class="p-2 text-decoration-none text-white" href="#"  [routerLink]="['/exercises/ex05']" routerLinkActive="active">Exercise 5</a></li>
      <li><a class="p-2 text-decoration-none text-white" href="#"  [routerLink]="['/exercises/ex06']" routerLinkActive="active">Exercise 6</a></li>
      <li><a class="p-2 text-decoration-none text-white" href="#"  [routerLink]="['/exercises/ex07']" routerLinkActive="active">Exercise 7</a></li>
      <li><a class="p-2 text-decoration-none text-white" href="#"  [routerLink]="['/exercises/ex08']" routerLinkActive="active">Exercise 8</a></li>
      <li><a class="p-2 text-decoration-none text-white" href="#"  [routerLink]="['/exercises/ex09']" routerLinkActive="active">Exercise 9</a></li>
      <li><a class="p-2 text-decoration-none text-white" href="#"  [routerLink]="['/exercises/ex010']" routerLinkActive="active">Exercise 10</a></li>
    </ul>
  </div>
